%open-regular {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
}

%open-semi {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
}

%open-bold {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
}

%freescpt {
    font-family: 'FREESCPT';
}

%transition-hover {
    transition: all .7s;
}

%opacity-hover {
    opacity: .4;
}