.presentation {
    padding: 60px 0 70px;
    @media (min-width: 650px) {
        padding: 100px 0 109px;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    justify-content: center;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba(#5363db, .9);
        z-index: 2;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        color: $light-text;
    }
    &__feedback {
        z-index: 2;
        max-width: 100%;
        width: 100%;
        background-color: $white;
        padding: 25px 15px 30px;
        border-radius: 20px;
        @media (min-width: 480px) {
            padding: 32px 33px 35px;
        }
        @media (min-width: 650px) {
            max-width: 300px;
        }
        @media (min-width: 1200px) {
            margin-right: 33px;
        }
    }
    &__offer {
        color: $main-color;
        @extend %open-semi;
        font-size: 26px;
        margin-bottom: 22px;
    }
    &__input {
        width: 100%;
        margin-bottom: 15px;
        padding: 14px 7px 18px;
        background-color: $input-bg;
        font-size: 14px;
        border: none;
        border-radius: 6px;
        @media (min-width: 480px) {
            padding: 15px 7px 21px;
        }
        &::placeholder {
            padding: 14px 0 18px;
            font-size: 14px;
            color: $dark-text;
            @media (min-width: 480px) {
                padding: 18px 0px 22px;
            }
        }
    }
    &__select {
        appearance: none;
        background-image: url(../images/row-down-select.svg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 96% 50%;
        padding: 14px 18px 18px 10px;
        @media (min-width: 480px) {
            padding: 19px 18px 22px 10px;
        }
    }
    &__form {
        margin-bottom: 10px;
    }
    &__btn {
        color: $light-text;
        background-color: $main-color;
        padding: 14px 20px 14px;
        border-radius: 6px;
        min-width: 130px;
        @extend %open-bold;
        margin-right: 0;
        margin-left: auto;
        display: block;
        @extend %transition-hover;
        @media (min-width: 480px) {
            padding: 15px 20px 16px;
            min-width: 167px;
        }
        &:hover {
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.26);
        }
    }
    &__info {
        z-index: 3;
        max-width: 100%;
        width: 100%;
        text-align: center;
        padding: 30px 0 0 0;
        @media (min-width: 650px) {
            padding: 56px 0 0 40px;
            max-width: 51%;
            text-align: left;
        }
        @media (min-width: 769px) {
            padding: 56px 0 0 61px;
        }
    }
    &__title {
        @extend %open-bold;
        font-size: 32px;
        line-height: 1.5;
        margin-bottom: 26px;
        text-transform: uppercase;
        @media (min-width: 570px) {
            font-size: 40px;
        }
        @media (min-width: 769px) {
            font-size: 48px;
            max-width: 487px;
        }
    }
    &__subtitle {
        @extend %freescpt;
        max-width: 100%;
        font-size: 30px;
        @media (min-width: 650px) {
            font-size: 40px;
            max-width: 275px;
        }
    }
}