$white: #fff;
$black: #000;
$main-color: #5B6CEB;
$light-text: $white;
$dark-text: #555555;
$beautiful-text: #777777;
$name-text: #999999;
$footer-copy-bg: #5363D8;
$input-bg: #F2F2F2;
$price-line: #d7d7d7;